<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193333881445-md9i5to60k7eh6rqirum5tb1d3bi2785.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193333881445-md9i5to60k7eh6rqirum5tb1d3bi2785</string>
	<key>API_KEY</key>
	<string>AIzaSyBPDVRGxme4Ay0U06PGPDLG226NHqMwnh4</string>
	<key>GCM_SENDER_ID</key>
	<string>193333881445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.katarzynakozlowska.curlzzzNew</string>
	<key>PROJECT_ID</key>
	<string>curlz444</string>
	<key>STORAGE_BUCKET</key>
	<string>curlz444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193333881445:ios:8b848f014b5ddd8177f48c</string>
</dict>
</plist>